---
http_interactions:
- request:
    method: post
    uri: http://iteratelabs.cassia.pro/api/oauth2/token
    body:
      encoding: UTF-8
      string: '{"grant_type":"client_credentials"}'
    headers:
      Authorization:
      - Basic <CREDENTIALS>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"token_type":"bearer","access_token":"1af84b285ec8aba0ba2a127c1fc98fdde3f3ccedf18466c13b9ae5f13381779e","expires_in":3600}'
  recorded_at: Wed, 10 Jul 2019 16:23:45 GMT
- request:
    method: post
    uri: http://iteratelabs.cassia.pro/api/gap/nodes/F6:12:3D:BD:DE:44/connection?mac=CC%3A1B%3AE0%3AE0%3AF1%3AE8
    body:
      encoding: UTF-8
      string: '{"type":"random","timeout":"5000","auto":"0","discovergatt":"1"}'
    headers:
      Authorization:
      - Bearer 1af84b285ec8aba0ba2a127c1fc98fdde3f3ccedf18466c13b9ae5f13381779e
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - text/plain
    body:
      encoding: UTF-8
      string: OK
  recorded_at: Wed, 10 Jul 2019 16:23:45 GMT
- request:
    method: get
    uri: http://iteratelabs.cassia.pro/api/gatt/nodes/F6:12:3D:BD:DE:40/characteristics?mac=CC%3A1B%3AE0%3AE0%3AF1%3AE8
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 1af84b285ec8aba0ba2a127c1fc98fdde3f3ccedf18466c13b9ae5f13381779e
      Content-Type:
      - application/json
  response:
    status:
      code: 500
      message: Internal Server Error
    headers:
      content-type:
      - text/plain
    body:
      encoding: UTF-8
      string: device disconnect
  recorded_at: Wed, 10 Jul 2019 16:23:45 GMT
recorded_with: VCR 5.0.0
