---
http_interactions:
- request:
    method: post
    uri: http://iteratelabs.cassia.pro/api/oauth2/token
    body:
      encoding: UTF-8
      string: '{"grant_type":"client_credentials"}'
    headers:
      Authorization:
      - Basic <CREDENTIALS>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"token_type":"bearer","access_token":"fe8fe1068eac872a90aafd3473927a1c46ffeeb4ec01feb797a5ddfcd6819a6f","expires_in":3600}'
  recorded_at: Thu, 11 Jul 2019 16:54:35 GMT
- request:
    method: post
    uri: http://iteratelabs.cassia.pro/api/gap/nodes/F6:12:3D:BD:DE:44/connection?mac=CC%3A1B%3AE0%3AE0%3AF1%3AE8
    body:
      encoding: UTF-8
      string: '{"type":"random","timeout":"5000","auto":"0","discovergatt":"1"}'
    headers:
      Authorization:
      - Bearer fe8fe1068eac872a90aafd3473927a1c46ffeeb4ec01feb797a5ddfcd6819a6f
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - text/plain
    body:
      encoding: UTF-8
      string: OK
  recorded_at: Thu, 11 Jul 2019 16:54:37 GMT
- request:
    method: get
    uri: http://iteratelabs.cassia.pro/api/gatt/nodes/F6:12:3D:BD:DE:44/characteristics?mac=CC%3A1B%3AE0%3AE0%3AF1%3AE8
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer fe8fe1068eac872a90aafd3473927a1c46ffeeb4ec01feb797a5ddfcd6819a6f
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"handle":3,"properties":10,"uuid":"00002a00-0000-1000-8000-00805f9b34fb"},{"handle":5,"properties":2,"uuid":"00002a01-0000-1000-8000-00805f9b34fb"},{"handle":7,"properties":2,"uuid":"00002a04-0000-1000-8000-00805f9b34fb"},{"handle":9,"properties":2,"uuid":"00002aa6-0000-1000-8000-00805f9b34fb"},{"handle":13,"properties":16,"uuid":"6e400003-b5a3-f393-e0a9-e50e24dcca9e"},{"handle":16,"properties":12,"uuid":"6e400002-b5a3-f393-e0a9-e50e24dcca9e"}]'
  recorded_at: Thu, 11 Jul 2019 16:54:37 GMT
- request:
    method: get
    uri: http://iteratelabs.cassia.pro/api/gatt/nodes/F6:12:3D:BD:DE:44/characteristics/11002a00-0000-1000-8000-00805f9b34fb/descriptors?mac=CC%3A1B%3AE0%3AE0%3AF1%3AE8
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer fe8fe1068eac872a90aafd3473927a1c46ffeeb4ec01feb797a5ddfcd6819a6f
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: "{}"
  recorded_at: Thu, 11 Jul 2019 16:54:37 GMT
recorded_with: VCR 5.0.0
