---
http_interactions:
- request:
    method: post
    uri: http://iteratelabs.cassia.pro/api/oauth2/token
    body:
      encoding: UTF-8
      string: '{"grant_type":"client_credentials"}'
    headers:
      Authorization:
      - Basic <CREDENTIALS>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"token_type":"bearer","access_token":"505cf092f7c58191e821afaef71e54d9303d1b3b58da77044a5700055d7f3775","expires_in":3600}'
  recorded_at: Tue, 02 Jul 2019 19:02:08 GMT
- request:
    method: post
    uri: http://iteratelabs.cassia.pro/api/aps/notify/close
    body:
      encoding: UTF-8
      string: '{"aps":["invalid router mac"]}'
    headers:
      Authorization:
      - Bearer 505cf092f7c58191e821afaef71e54d9303d1b3b58da77044a5700055d7f3775
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
    body:
      encoding: UTF-8
      string: '{"status":"bad request","error":"invalid aps"}'
  recorded_at: Tue, 02 Jul 2019 19:02:08 GMT
recorded_with: VCR 5.0.0
