---
http_interactions:
- request:
    method: post
    uri: http://iteratelabs.cassia.pro/api/oauth2/token
    body:
      encoding: UTF-8
      string: '{"grant_type":"client_credentials"}'
    headers:
      Authorization:
      - Basic <CREDENTIALS>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"token_type":"bearer","access_token":"0d8c2cf1e2bf276081a81d5cfdaf1cdd7845e903201cdab1e72a63fbf1ab4b49","expires_in":3600}'
  recorded_at: Tue, 02 Jul 2019 19:02:09 GMT
- request:
    method: post
    uri: http://iteratelabs.cassia.pro/api/aps/notify/close
    body:
      encoding: UTF-8
      string: '{"aps":["CC:1B:E0:E0:F1:E8"]}'
    headers:
      Authorization:
      - Bearer 0d8c2cf1e2bf276081a81d5cfdaf1cdd7845e903201cdab1e72a63fbf1ab4b49
      Content-Type:
      - application/json
  response:
    status:
      code: 202
      message: Accepted
    headers:
    body:
      encoding: UTF-8
      string: '{"status":"accepted"}'
  recorded_at: Tue, 02 Jul 2019 19:02:09 GMT
recorded_with: VCR 5.0.0
