---
http_interactions:
- request:
    method: post
    uri: http://iteratelabs.cassia.pro/api/oauth2/token
    body:
      encoding: UTF-8
      string: '{"grant_type":"client_credentials"}'
    headers:
      Authorization:
      - Basic <CREDENTIALS>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"token_type":"bearer","access_token":"2d0cb85175886c477b539b28e7c9ba88dcfdfd0926ef5cad10ee8503dc1d6ff3","expires_in":3600}'
  recorded_at: Mon, 01 Jul 2019 20:37:12 GMT
- request:
    method: post
    uri: http://iteratelabs.cassia.pro/api/gap/nodes/F6:12:3D:BD:DE:44/connection?mac=CC%3A1B%3AE0%3AE0%3AF1%3AE8
    body:
      encoding: UTF-8
      string: '{"type":"random","timeout":"5000","auto":"0","discovergatt":"1"}'
    headers:
      Authorization:
      - Bearer 2d0cb85175886c477b539b28e7c9ba88dcfdfd0926ef5cad10ee8503dc1d6ff3
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - text/plain
    body:
      encoding: UTF-8
      string: OK
  recorded_at: Mon, 01 Jul 2019 20:37:13 GMT
- request:
    method: delete
    uri: http://iteratelabs.cassia.pro/api/gap/nodes/invalid_device_mac/connection?mac=CC%3A1B%3AE0%3AE0%3AF1%3AE8
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 2d0cb85175886c477b539b28e7c9ba88dcfdfd0926ef5cad10ee8503dc1d6ff3
      Content-Type:
      - application/json
  response:
    status:
      code: 500
      message: Internal Server Error
    headers:
      content-type:
      - text/plain
    body:
      encoding: UTF-8
      string: parameter invalid
  recorded_at: Mon, 01 Jul 2019 20:37:13 GMT
recorded_with: VCR 5.0.0
