---
http_interactions:
- request:
    method: get
    uri: http://staging-cassia.<CLIENT_ID>.co/api/cassia/hubs
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer invalid_access_token
      Content-Type:
      - application/json
  response:
    status:
      code: 403
      message: Forbidden
    headers:
    body:
      encoding: UTF-8
      string: '{"error":"forbidden","error_description":"Token not found or expired"}'
  recorded_at: Fri, 21 Jun 2019 19:11:29 GMT
- request:
    method: post
    uri: http://staging-cassia.<CLIENT_ID>.co/api/oauth2/token
    body:
      encoding: UTF-8
      string: '{"grant_type":"client_credentials"}'
    headers:
      Authorization:
      - Basic aW52YWxpZCBjbGllbnQgaWQ6aW52YWxpZCBzZWNyZXQ=
      Content-Type:
      - application/json
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"error":"invalid_client","error_description":"Client not found"}'
  recorded_at: Fri, 11 Oct 2019 15:07:03 GMT
recorded_with: VCR 5.0.0
