---
http_interactions:
- request:
    method: post
    uri: http://iteratelabs.cassia.pro/api/oauth2/token
    body:
      encoding: UTF-8
      string: '{"grant_type":"client_credentials"}'
    headers:
      Authorization:
      - Basic <CREDENTIALS>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"token_type":"bearer","access_token":"757caf3ce2bdb8c9c67f5b20de737994a273398ecfd277bc47def1f286b4c54f","expires_in":3600}'
  recorded_at: Fri, 14 Jun 2019 14:38:14 GMT
- request:
    method: get
    uri: http://iteratelabs.cassia.pro/api/cassia/hubs
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 757caf3ce2bdb8c9c67f5b20de737994a273398ecfd277bc47def1f286b4c54f
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '[{"_id":"5cb8e45764390a003eb9304c","id":"CC:1B:E0:E0:ED:AC","mac":"CC:1B:E0:E0:ED:AC","name":"Cassia
        Router","group":"","status":"online","model":"E1000","version":"1.4.0.1901300130","position":"","time":1555620951936,"ip":"76.244.39.175","localip":"192.168.1.75","uptime":746841,"offline_time":1559770861,"online_time":1559776211,"update_status":"update_ok","update_reason":"","update_version":"","update_progress":0,"container":{"status_code":6,"status":"not_exist"},"ap":{"uplink":"wired"}}]'
  recorded_at: Fri, 14 Jun 2019 14:38:14 GMT
recorded_with: VCR 5.0.0
