---
http_interactions:
- request:
    method: post
    uri: http://iteratelabs.cassia.pro/api/oauth2/token
    body:
      encoding: UTF-8
      string: '{"grant_type":"client_credentials"}'
    headers:
      Authorization:
      - Basic <CREDENTIALS>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"token_type":"bearer","access_token":"169a240642873e630574d4feecdcad5a6d6587805e29ff179aab43e48451fca4","expires_in":3600}'
  recorded_at: Wed, 03 Jul 2019 15:33:29 GMT
- request:
    method: get
    uri: http://iteratelabs.cassia.pro/api/aps/ap-state/open
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 169a240642873e630574d4feecdcad5a6d6587805e29ff179aab43e48451fca4
      Content-Type:
      - application/json
  response:
    status:
      code: 202
      message: Accepted
    headers:
    body:
      encoding: UTF-8
      string: '{"status":"accepted"}'
  recorded_at: Wed, 03 Jul 2019 15:33:29 GMT
recorded_with: VCR 5.0.0
