---
http_interactions:
- request:
    method: post
    uri: http://iteratelabs.cassia.pro/api/oauth2/token
    body:
      encoding: UTF-8
      string: '{"grant_type":"client_credentials"}'
    headers:
      Authorization:
      - Basic <CREDENTIALS>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"token_type":"bearer","access_token":"7490618b41bc4c19394fefa4609157d76ad6e5db2a8c2abe64a9d8974a1699bd","expires_in":3600}'
  recorded_at: Thu, 27 Jun 2019 20:20:21 GMT
- request:
    method: post
    uri: http://iteratelabs.cassia.pro/api/aps/ap-select-switch
    body:
      encoding: UTF-8
      string: '{"flag":1}'
    headers:
      Authorization:
      - Bearer 7490618b41bc4c19394fefa4609157d76ad6e5db2a8c2abe64a9d8974a1699bd
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status":"success","flag":1}'
  recorded_at: Thu, 27 Jun 2019 20:20:21 GMT
- request:
    method: post
    uri: http://iteratelabs.cassia.pro/api/aps/scan/open
    body:
      encoding: UTF-8
      string: '{"aps":["CC:1B:E0:E0:F1:E8"]}'
    headers:
      Authorization:
      - Bearer 7490618b41bc4c19394fefa4609157d76ad6e5db2a8c2abe64a9d8974a1699bd
      Content-Type:
      - application/json
  response:
    status:
      code: 202
      message: Accepted
    headers:
    body:
      encoding: UTF-8
      string: '{"status":"accepted"}'
  recorded_at: Thu, 27 Jun 2019 20:20:22 GMT
- request:
    method: post
    uri: http://iteratelabs.cassia.pro/api/aps/connections/connect
    body:
      encoding: UTF-8
      string: '{"aps":"*","devices":["F6:12:3D:BD:DE:44"]}'
    headers:
      Authorization:
      - Bearer 7490618b41bc4c19394fefa4609157d76ad6e5db2a8c2abe64a9d8974a1699bd
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status":"ok","device":"F6:12:3D:BD:DE:44"}'
  recorded_at: Thu, 27 Jun 2019 20:20:22 GMT
- request:
    method: post
    uri: http://iteratelabs.cassia.pro/api/aps/connections/disconnect
    body:
      encoding: UTF-8
      string: '{"devices":["F6:12:3D:BD:DE:44"]}'
    headers:
      Authorization:
      - Bearer 7490618b41bc4c19394fefa4609157d76ad6e5db2a8c2abe64a9d8974a1699bd
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status":"ok","device":"F6:12:3D:BD:DE:44"}'
  recorded_at: Thu, 27 Jun 2019 20:20:25 GMT
recorded_with: VCR 5.0.0
