---
http_interactions:
- request:
    method: post
    uri: http://iteratelabs.cassia.pro/api/oauth2/token
    body:
      encoding: UTF-8
      string: '{"grant_type":"client_credentials"}'
    headers:
      Authorization:
      - Basic <CREDENTIALS>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"token_type":"bearer","access_token":"626272f6982f8d6a08fad9cbed306733ce96aa2659b1dafa88f8d6b0eb8091f0","expires_in":3600}'
  recorded_at: Wed, 26 Jun 2019 19:10:28 GMT
- request:
    method: post
    uri: http://iteratelabs.cassia.pro/api/aps/scan/open
    body:
      encoding: UTF-8
      string: '{"aps":null}'
    headers:
      Authorization:
      - Bearer 626272f6982f8d6a08fad9cbed306733ce96aa2659b1dafa88f8d6b0eb8091f0
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
    body:
      encoding: UTF-8
      string: '{"status":"bad request","error":"invalid aps"}'
  recorded_at: Wed, 26 Jun 2019 19:10:28 GMT
recorded_with: VCR 5.0.0
