---
http_interactions:
- request:
    method: post
    uri: http://iteratelabs.cassia.pro/api/oauth2/token
    body:
      encoding: UTF-8
      string: '{"grant_type":"client_credentials"}'
    headers:
      Authorization:
      - Basic <CREDENTIALS>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"token_type":"bearer","access_token":"b5cbddebaf5db113298ffe80a3de2b01105206b14bae29176a0644934b9b1130","expires_in":3600}'
  recorded_at: Wed, 03 Jul 2019 19:36:56 GMT
- request:
    method: post
    uri: http://iteratelabs.cassia.pro/api/aps/scan/open
    body:
      encoding: UTF-8
      string: '{"aps":["invalid router mac"]}'
    headers:
      Authorization:
      - Bearer b5cbddebaf5db113298ffe80a3de2b01105206b14bae29176a0644934b9b1130
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
    body:
      encoding: UTF-8
      string: '{"status":"bad request","error":"invalid aps"}'
  recorded_at: Wed, 03 Jul 2019 19:36:56 GMT
recorded_with: VCR 5.0.0
