---
http_interactions:
- request:
    method: post
    uri: http://iteratelabs.cassia.pro/api/oauth2/token
    body:
      encoding: UTF-8
      string: '{"grant_type":"client_credentials"}'
    headers:
      Authorization:
      - Basic <CREDENTIALS>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"token_type":"bearer","access_token":"788d7401d5d33dde20abc3875ed441f349ec4782657d99a23c57712c242a65ae","expires_in":3600}'
  recorded_at: Tue, 02 Jul 2019 19:36:22 GMT
- request:
    method: post
    uri: http://iteratelabs.cassia.pro/api/aps/scan/open
    body:
      encoding: UTF-8
      string: '{"aps":["invalid router mac"]}'
    headers:
      Authorization:
      - Bearer 788d7401d5d33dde20abc3875ed441f349ec4782657d99a23c57712c242a65ae
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
    body:
      encoding: UTF-8
      string: '{"status":"bad request","error":"invalid aps"}'
  recorded_at: Tue, 02 Jul 2019 19:36:22 GMT
recorded_with: VCR 5.0.0
