---
http_interactions:
- request:
    method: post
    uri: http://iteratelabs.cassia.pro/api/oauth2/token
    body:
      encoding: UTF-8
      string: '{"grant_type":"client_credentials"}'
    headers:
      Authorization:
      - Basic <CREDENTIALS>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"token_type":"bearer","access_token":"e610cdafe309e3141a1435e83bd082a9cbf37c247ed0dcd2a1b008416a633a47","expires_in":3600}'
  recorded_at: Wed, 03 Jul 2019 19:24:53 GMT
- request:
    method: post
    uri: http://iteratelabs.cassia.pro/api/aps/scan/open
    body:
      encoding: UTF-8
      string: '{"aps":"*"}'
    headers:
      Authorization:
      - Bearer e610cdafe309e3141a1435e83bd082a9cbf37c247ed0dcd2a1b008416a633a47
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
    body:
      encoding: UTF-8
      string: '{"status":"bad request","error":"invalid aps"}'
  recorded_at: Wed, 03 Jul 2019 19:24:54 GMT
recorded_with: VCR 5.0.0
