---
http_interactions:
- request:
    method: post
    uri: http://iteratelabs.cassia.pro/api/oauth2/token
    body:
      encoding: UTF-8
      string: '{"grant_type":"client_credentials"}'
    headers:
      Authorization:
      - Basic <CREDENTIALS>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"token_type":"bearer","access_token":"22d22638acf31cb7e21eb284f3b9dc0135cf8dbd0d77b0622dd0e541b8f51d09","expires_in":3600}'
  recorded_at: Fri, 14 Jun 2019 19:23:30 GMT
- request:
    method: post
    uri: http://iteratelabs.cassia.pro/api/aps/ap-select-switch
    body:
      encoding: UTF-8
      string: '{"flag":1}'
    headers:
      Authorization:
      - Bearer 22d22638acf31cb7e21eb284f3b9dc0135cf8dbd0d77b0622dd0e541b8f51d09
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status":"success","flag":1}'
  recorded_at: Fri, 14 Jun 2019 19:23:30 GMT
recorded_with: VCR 5.0.0
