---
http_interactions:
- request:
    method: post
    uri: http://iteratelabs.cassia.pro/api/oauth2/token
    body:
      encoding: UTF-8
      string: '{"grant_type":"client_credentials"}'
    headers:
      Authorization:
      - Basic <CREDENTIALS>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"token_type":"bearer","access_token":"cc207cdaea8eb1748672a49384f7091093103c2efff698e2befe473fb3766205","expires_in":3600}'
  recorded_at: Fri, 14 Jun 2019 18:52:28 GMT
- request:
    method: post
    uri: http://iteratelabs.cassia.pro/api/aps/ap-select-switch
    body:
      encoding: UTF-8
      string: '{"flag":1}'
    headers:
      Authorization:
      - Bearer cc207cdaea8eb1748672a49384f7091093103c2efff698e2befe473fb3766205
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status":"success","flag":1}'
  recorded_at: Fri, 14 Jun 2019 18:52:28 GMT
recorded_with: VCR 5.0.0
