---
http_interactions:
- request:
    method: post
    uri: http://iteratelabs.cassia.pro/api/oauth2/token
    body:
      encoding: UTF-8
      string: '{"grant_type":"client_credentials"}'
    headers:
      Authorization:
      - Basic <CREDENTIALS>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"token_type":"bearer","access_token":"e8ecf6c7b3de29b897ee14ec085197c0703dadb9e28f644141bef89cbab06b12","expires_in":3600}'
  recorded_at: Mon, 17 Jun 2019 15:01:02 GMT
- request:
    method: post
    uri: http://iteratelabs.cassia.pro/api/aps/ap-select-switch
    body:
      encoding: UTF-8
      string: '{"flag":0}'
    headers:
      Authorization:
      - Bearer e8ecf6c7b3de29b897ee14ec085197c0703dadb9e28f644141bef89cbab06b12
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status":"success","flag":0}'
  recorded_at: Mon, 17 Jun 2019 15:01:02 GMT
recorded_with: VCR 5.0.0
