---
http_interactions:
- request:
    method: post
    uri: http://iteratelabs.cassia.pro/api/oauth2/token
    body:
      encoding: UTF-8
      string: '{"grant_type":"client_credentials"}'
    headers:
      Authorization:
      - Basic <CREDENTIALS>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"token_type":"bearer","access_token":"9da895846956d3302ed41b62cf5bbbad134a7e42ca7f1d8e9d1a9bc81d261d13","expires_in":3600}'
  recorded_at: Fri, 14 Jun 2019 20:57:50 GMT
- request:
    method: post
    uri: http://iteratelabs.cassia.pro/api/aps/ap-select-switch
    body:
      encoding: UTF-8
      string: '{"flag":1}'
    headers:
      Authorization:
      - Bearer 9da895846956d3302ed41b62cf5bbbad134a7e42ca7f1d8e9d1a9bc81d261d13
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status":"success","flag":1}'
  recorded_at: Fri, 14 Jun 2019 20:57:50 GMT
recorded_with: VCR 5.0.0
