---
http_interactions:
- request:
    method: post
    uri: http://iteratelabs.cassia.pro/api/oauth2/token
    body:
      encoding: UTF-8
      string: '{"grant_type":"client_credentials"}'
    headers:
      Authorization:
      - Basic <CREDENTIALS>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"token_type":"bearer","access_token":"a4beb9fd920a1756eff0c71aca56569856652899bc2a076bfb2d03388020d471","expires_in":3600}'
  recorded_at: Fri, 28 Jun 2019 20:30:03 GMT
- request:
    method: post
    uri: http://iteratelabs.cassia.pro/api/aps/scan/open
    body:
      encoding: UTF-8
      string: '{"aps":["CC:1B:E0:E0:F1:E8"]}'
    headers:
      Authorization:
      - Bearer a4beb9fd920a1756eff0c71aca56569856652899bc2a076bfb2d03388020d471
      Content-Type:
      - application/json
  response:
    status:
      code: 202
      message: Accepted
    headers:
    body:
      encoding: UTF-8
      string: '{"status":"accepted"}'
  recorded_at: Fri, 28 Jun 2019 20:30:03 GMT
- request:
    method: post
    uri: http://iteratelabs.cassia.pro/api/aps/connections/connect
    body:
      encoding: UTF-8
      string: '{"aps":"*","devices":["F3:25:5F:22:35:39"]}'
    headers:
      Authorization:
      - Bearer a4beb9fd920a1756eff0c71aca56569856652899bc2a076bfb2d03388020d471
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status":"error","error":"timeout","device":"F3:25:5F:22:35:39"}'
  recorded_at: Fri, 28 Jun 2019 20:30:14 GMT
- request:
    method: post
    uri: http://iteratelabs.cassia.pro/api/aps/connections/disconnect
    body:
      encoding: UTF-8
      string: '{"devices":["F3:25:5F:22:35:39"]}'
    headers:
      Authorization:
      - Bearer a4beb9fd920a1756eff0c71aca56569856652899bc2a076bfb2d03388020d471
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status":"error","error":"device is not in connected state","device":"F3:25:5F:22:35:39"}'
  recorded_at: Fri, 28 Jun 2019 20:30:14 GMT
recorded_with: VCR 5.0.0
