---
http_interactions:
- request:
    method: post
    uri: http://iteratelabs.cassia.pro/api/oauth2/token
    body:
      encoding: UTF-8
      string: '{"grant_type":"client_credentials"}'
    headers:
      Authorization:
      - Basic <CREDENTIALS>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"token_type":"bearer","access_token":"1b6c0daed440bc90a3b1b7772b4a91662327b4f114577d578c61113459503c77","expires_in":3600}'
  recorded_at: Thu, 11 Jul 2019 16:52:36 GMT
- request:
    method: post
    uri: http://iteratelabs.cassia.pro/api/gap/nodes/F6:12:3D:BD:DE:44/connection?mac=CC%3A1B%3AE0%3AE0%3AF1%3AE8
    body:
      encoding: UTF-8
      string: '{"type":"random","timeout":"5000","auto":"0","discovergatt":"1"}'
    headers:
      Authorization:
      - Bearer 1b6c0daed440bc90a3b1b7772b4a91662327b4f114577d578c61113459503c77
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - text/plain
    body:
      encoding: UTF-8
      string: OK
  recorded_at: Thu, 11 Jul 2019 16:52:36 GMT
- request:
    method: get
    uri: http://iteratelabs.cassia.pro/api/gatt/nodes/F6:12:3D:BD:DE:44/services/characteristics/descriptors?mac=CC%3A1B%3AE0%3AE0%3AF1%3AE8
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 1b6c0daed440bc90a3b1b7772b4a91662327b4f114577d578c61113459503c77
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"uuid":"00001800-0000-1000-8000-00805f9b34fb","primary":true,"characteristics":[{"descriptors":[{"handle":3,"uuid":"00002a00-0000-1000-8000-00805f9b34fb"}],"handle":3,"properties":10,"uuid":"00002a00-0000-1000-8000-00805f9b34fb"},{"descriptors":[{"handle":5,"uuid":"00002a01-0000-1000-8000-00805f9b34fb"}],"handle":5,"properties":2,"uuid":"00002a01-0000-1000-8000-00805f9b34fb"},{"descriptors":[{"handle":7,"uuid":"00002a04-0000-1000-8000-00805f9b34fb"}],"handle":7,"properties":2,"uuid":"00002a04-0000-1000-8000-00805f9b34fb"},{"descriptors":[{"handle":9,"uuid":"00002aa6-0000-1000-8000-00805f9b34fb"}],"handle":9,"properties":2,"uuid":"00002aa6-0000-1000-8000-00805f9b34fb"}],"handle":1},{"uuid":"00001801-0000-1000-8000-00805f9b34fb","primary":true,"handle":10},{"uuid":"6e400001-b5a3-f393-e0a9-e50e24dcca9e","primary":true,"characteristics":[{"descriptors":[{"handle":13,"uuid":"6e400003-b5a3-f393-e0a9-e50e24dcca9e"},{"handle":14,"uuid":"00002902-0000-1000-8000-00805f9b34fb"}],"handle":13,"properties":16,"uuid":"6e400003-b5a3-f393-e0a9-e50e24dcca9e"},{"descriptors":[{"handle":16,"uuid":"6e400002-b5a3-f393-e0a9-e50e24dcca9e"}],"handle":16,"properties":12,"uuid":"6e400002-b5a3-f393-e0a9-e50e24dcca9e"}],"handle":11}]'
  recorded_at: Thu, 11 Jul 2019 16:52:36 GMT
recorded_with: VCR 5.0.0
