---
http_interactions:
- request:
    method: post
    uri: http://iteratelabs.cassia.pro/api/oauth2/token
    body:
      encoding: UTF-8
      string: '{"grant_type":"client_credentials"}'
    headers:
      Authorization:
      - Basic <CREDENTIALS>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"token_type":"bearer","access_token":"d2ad28987c31f4f0103a79386167a6060622e98fc51bd83eae0d04d43a2a9dcb","expires_in":3600}'
  recorded_at: Tue, 18 Jun 2019 20:42:17 GMT
- request:
    method: post
    uri: http://iteratelabs.cassia.pro/api/aps/scan/open
    body:
      encoding: UTF-8
      string: '{"aps":null}'
    headers:
      Authorization:
      - Bearer d2ad28987c31f4f0103a79386167a6060622e98fc51bd83eae0d04d43a2a9dcb
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
    body:
      encoding: UTF-8
      string: '{"status":"bad request","error":"invalid aps"}'
  recorded_at: Tue, 18 Jun 2019 20:42:17 GMT
recorded_with: VCR 5.0.0
