---
http_interactions:
- request:
    method: post
    uri: http://iteratelabs.cassia.pro/api/oauth2/token
    body:
      encoding: UTF-8
      string: '{"grant_type":"client_credentials"}'
    headers:
      Authorization:
      - Basic <CREDENTIALS>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"token_type":"bearer","access_token":"3040c7cfc1505b148c02dd33b2cc6c7bf064f805e5c558e23bcaf5c23a6b7b67","expires_in":3600}'
  recorded_at: Fri, 21 Jun 2019 19:11:27 GMT
- request:
    method: post
    uri: http://iteratelabs.cassia.pro/api/aps/scan/open
    body:
      encoding: UTF-8
      string: '{"aps":null}'
    headers:
      Authorization:
      - Bearer 3040c7cfc1505b148c02dd33b2cc6c7bf064f805e5c558e23bcaf5c23a6b7b67
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
    body:
      encoding: UTF-8
      string: '{"status":"bad request","error":"invalid aps"}'
  recorded_at: Fri, 21 Jun 2019 19:11:27 GMT
recorded_with: VCR 5.0.0
