---
http_interactions:
- request:
    method: post
    uri: http://iteratelabs.cassia.pro/api/oauth2/token
    body:
      encoding: UTF-8
      string: '{"grant_type":"client_credentials"}'
    headers:
      Authorization:
      - Basic <CREDENTIALS>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"token_type":"bearer","access_token":"dcb6afba1460e6d4034c5ae0c2c9a87fd61b17f01411afc68021334cc3e8c157","expires_in":3600}'
  recorded_at: Fri, 21 Jun 2019 19:11:27 GMT
- request:
    method: post
    uri: http://iteratelabs.cassia.pro/api/aps/scan/open
    body:
      encoding: UTF-8
      string: '{"aps":["CC:1B:E0:E0:ED:AC","CC:1B:E0:E0:F1:E8"]}'
    headers:
      Authorization:
      - Bearer dcb6afba1460e6d4034c5ae0c2c9a87fd61b17f01411afc68021334cc3e8c157
      Content-Type:
      - application/json
  response:
    status:
      code: 202
      message: Accepted
    headers:
    body:
      encoding: UTF-8
      string: '{"status":"accepted"}'
  recorded_at: Fri, 21 Jun 2019 19:11:27 GMT
recorded_with: VCR 5.0.0
