---
http_interactions:
- request:
    method: post
    uri: http://iteratelabs.cassia.pro/api/oauth2/token
    body:
      encoding: UTF-8
      string: '{"grant_type":"client_credentials"}'
    headers:
      Authorization:
      - Basic <CREDENTIALS>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"token_type":"bearer","access_token":"337bb105c0705d517ad73396c41be85bc6d748379234781c2fc8916ca9d25862","expires_in":3600}'
  recorded_at: Tue, 18 Jun 2019 20:42:17 GMT
- request:
    method: post
    uri: http://iteratelabs.cassia.pro/api/aps/scan/open
    body:
      encoding: UTF-8
      string: '{"aps":["CC:1B:E0:E0:ED:AC","CC:1B:E0:E0:F1:E8"]}'
    headers:
      Authorization:
      - Bearer 337bb105c0705d517ad73396c41be85bc6d748379234781c2fc8916ca9d25862
      Content-Type:
      - application/json
  response:
    status:
      code: 202
      message: Accepted
    headers:
    body:
      encoding: UTF-8
      string: '{"status":"accepted"}'
  recorded_at: Tue, 18 Jun 2019 20:42:17 GMT
recorded_with: VCR 5.0.0
