---
http_interactions:
- request:
    method: post
    uri: http://iteratelabs.cassia.pro/api/oauth2/token
    body:
      encoding: UTF-8
      string: '{"grant_type":"client_credentials"}'
    headers:
      Authorization:
      - Basic aXRlcmF0ZWxhYnM6N2Q4Yjk5ZTk4OTM0NGI2Zg==
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"token_type":"bearer","access_token":"4bd110e250262144c7b8ee7606338830e04f5d1ddae7b7aee366190816a09571","expires_in":3600}'
  recorded_at: Wed, 12 Jun 2019 18:37:56 GMT
recorded_with: VCR 5.0.0
