---
http_interactions:
- request:
    method: post
    uri: http://iteratelabs.cassia.pro/api/oauth2/token
    body:
      encoding: UTF-8
      string: '{"grant_type":"client_credentials"}'
    headers:
      Authorization:
      - Basic <CREDENTIALS>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"token_type":"bearer","access_token":"2ded2d8cf3073d368fec27243a71f858e9b9231d7388e63e6d2f70852c33e66f","expires_in":3600}'
  recorded_at: Wed, 12 Jun 2019 19:39:06 GMT
recorded_with: VCR 5.0.0
