---
http_interactions:
- request:
    method: post
    uri: http://iteratelabs.cassia.pro/api/oauth2/token
    body:
      encoding: UTF-8
      string: '{"grant_type":"client_credentials"}'
    headers:
      Authorization:
      - Basic <CREDENTIALS>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"token_type":"bearer","access_token":"b4974834a42d23c6ad6ac44147ccea01cabdc07f36b416ed9239c650e5c7b403","expires_in":3600}'
  recorded_at: Fri, 28 Jun 2019 20:09:39 GMT
- request:
    method: post
    uri: http://iteratelabs.cassia.pro/api/gap/nodes/F6:12:3D:BD:DE:44/connection?mac=CC%3A1B%3AE0%3AE0%3AF1%3AE8
    body:
      encoding: UTF-8
      string: '{"type":"random","timeout":"5000","auto":"0","discovergatt":"1"}'
    headers:
      Authorization:
      - Bearer b4974834a42d23c6ad6ac44147ccea01cabdc07f36b416ed9239c650e5c7b403
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      content-type:
      - text/plain
    body:
      encoding: UTF-8
      string: timeout
  recorded_at: Fri, 28 Jun 2019 20:09:50 GMT
recorded_with: VCR 5.0.0
