---
http_interactions:
- request:
    method: post
    uri: http://iteratelabs.cassia.pro/api/oauth2/token
    body:
      encoding: UTF-8
      string: '{"grant_type":"client_credentials"}'
    headers:
      Authorization:
      - Basic <CREDENTIALS>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"token_type":"bearer","access_token":"7583e6a9d22e02de7ed53af8806b60038033e99ea891eee98011bf53db178f83","expires_in":3600}'
  recorded_at: Mon, 24 Jun 2019 17:34:13 GMT
- request:
    method: post
    uri: http://iteratelabs.cassia.pro/api/aps/ap-select-switch
    body:
      encoding: UTF-8
      string: '{"flag":1}'
    headers:
      Authorization:
      - Bearer 7583e6a9d22e02de7ed53af8806b60038033e99ea891eee98011bf53db178f83
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status":"success","flag":1}'
  recorded_at: Mon, 24 Jun 2019 17:34:13 GMT
recorded_with: VCR 5.0.0
