---
http_interactions:
- request:
    method: post
    uri: http://iteratelabs.cassia.pro/api/oauth2/token
    body:
      encoding: UTF-8
      string: '{"grant_type":"client_credentials"}'
    headers:
      Authorization:
      - Basic <CREDENTIALS>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"token_type":"bearer","access_token":"ab5c8887e89863434cda27bd4a0576274bd66ad3c872547a88999f2158ef8d93","expires_in":3600}'
  recorded_at: Mon, 24 Jun 2019 17:34:12 GMT
- request:
    method: post
    uri: http://iteratelabs.cassia.pro/api/aps/ap-select-switch
    body:
      encoding: UTF-8
      string: '{"flag":1}'
    headers:
      Authorization:
      - Bearer ab5c8887e89863434cda27bd4a0576274bd66ad3c872547a88999f2158ef8d93
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status":"success","flag":1}'
  recorded_at: Mon, 24 Jun 2019 17:34:12 GMT
recorded_with: VCR 5.0.0
