---
http_interactions:
- request:
    method: post
    uri: http://iteratelabs.cassia.pro/api/oauth2/token
    body:
      encoding: UTF-8
      string: '{"grant_type":"client_credentials"}'
    headers:
      Authorization:
      - Basic <CREDENTIALS>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"token_type":"bearer","access_token":"f95f215f310c002317d1e8512af2a707ae474fc6c0784a6c6c664c6732d5b9df","expires_in":3600}'
  recorded_at: Fri, 28 Jun 2019 20:12:12 GMT
- request:
    method: post
    uri: http://iteratelabs.cassia.pro/api/gap/nodes/invalid_device_mac/connection?mac=CC%3A1B%3AE0%3AE0%3AF1%3AE8
    body:
      encoding: UTF-8
      string: '{"type":"random","timeout":"5000","auto":"0","discovergatt":"1"}'
    headers:
      Authorization:
      - Bearer f95f215f310c002317d1e8512af2a707ae474fc6c0784a6c6c664c6732d5b9df
      Content-Type:
      - application/json
  response:
    status:
      code: 500
      message: Internal Server Error
    headers:
      content-type:
      - text/plain
    body:
      encoding: UTF-8
      string: parameter invalid
  recorded_at: Fri, 28 Jun 2019 20:12:13 GMT
recorded_with: VCR 5.0.0
