---
http_interactions:
- request:
    method: post
    uri: http://iteratelabs.cassia.pro/api/oauth2/token
    body:
      encoding: UTF-8
      string: '{"grant_type":"client_credentials"}'
    headers:
      Authorization:
      - Basic <CREDENTIALS>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"token_type":"bearer","access_token":"6959a2825c334bc041cbcedc9740b730d8d01e2783931b94e6f9747523d169b8","expires_in":3600}'
  recorded_at: Mon, 01 Jul 2019 17:39:15 GMT
- request:
    method: get
    uri: http://iteratelabs.cassia.pro/api/gap/nodes?connection_state=connected&mac=invalid+router+mac
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 6959a2825c334bc041cbcedc9740b730d8d01e2783931b94e6f9747523d169b8
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      content-type:
      - text/plain; charset=utf-8
    body:
      encoding: UTF-8
      string: router's mac is invalid
  recorded_at: Mon, 01 Jul 2019 17:39:15 GMT
recorded_with: VCR 5.0.0
