---
http_interactions:
- request:
    method: post
    uri: http://iteratelabs.cassia.pro/api/oauth2/token
    body:
      encoding: UTF-8
      string: '{"grant_type":"client_credentials"}'
    headers:
      Authorization:
      - Basic <CREDENTIALS>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"token_type":"bearer","access_token":"cf7f5f4f9f2ed5f1423bfd0b56f0c971a14ee2e2c665a54562dd5763188baad8","expires_in":3600}'
  recorded_at: Wed, 10 Jul 2019 15:38:23 GMT
- request:
    method: post
    uri: http://iteratelabs.cassia.pro/api/gap/nodes/F6:12:3D:BD:DE:44/connection?mac=CC%3A1B%3AE0%3AE0%3AF1%3AE8
    body:
      encoding: UTF-8
      string: '{"type":"random","timeout":"5000","auto":"0","discovergatt":"1"}'
    headers:
      Authorization:
      - Bearer cf7f5f4f9f2ed5f1423bfd0b56f0c971a14ee2e2c665a54562dd5763188baad8
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - text/plain
    body:
      encoding: UTF-8
      string: OK
  recorded_at: Wed, 10 Jul 2019 15:38:23 GMT
- request:
    method: get
    uri: http://iteratelabs.cassia.pro/api/gatt/nodes/invalid_device_mac/services?mac=CC%3A1B%3AE0%3AE0%3AF1%3AE8
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer cf7f5f4f9f2ed5f1423bfd0b56f0c971a14ee2e2c665a54562dd5763188baad8
      Content-Type:
      - application/json
  response:
    status:
      code: 500
      message: Internal Server Error
    headers:
      content-type:
      - text/plain
    body:
      encoding: UTF-8
      string: parameter invalid
  recorded_at: Wed, 10 Jul 2019 15:38:24 GMT
recorded_with: VCR 5.0.0
