---
http_interactions:
- request:
    method: post
    uri: http://iteratelabs.cassia.pro/api/oauth2/token
    body:
      encoding: UTF-8
      string: '{"grant_type":"client_credentials"}'
    headers:
      Authorization:
      - Basic <CREDENTIALS>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"token_type":"bearer","access_token":"d33a9f9a82288a2f4c1596479f073819178f99410936c5e822ccb8c40f64f291","expires_in":3600}'
  recorded_at: Tue, 18 Jun 2019 18:52:26 GMT
- request:
    method: post
    uri: http://iteratelabs.cassia.pro/api/aps/connections/connect
    body:
      encoding: UTF-8
      string: '{"aps":"*","devices":[["CC:1B:E0:E0:ED:AC","CC:1B:E0:E0:F1:E8"]]}'
    headers:
      Authorization:
      - Bearer d33a9f9a82288a2f4c1596479f073819178f99410936c5e822ccb8c40f64f291
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status":"bad request","error":"invalid devices"}'
  recorded_at: Tue, 18 Jun 2019 18:52:27 GMT
recorded_with: VCR 5.0.0
