---
http_interactions:
- request:
    method: post
    uri: http://iteratelabs.cassia.pro/api/oauth2/token
    body:
      encoding: UTF-8
      string: '{"grant_type":"client_credentials"}'
    headers:
      Authorization:
      - Basic <CREDENTIALS>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"token_type":"bearer","access_token":"c506071c1b244bf321e241d0075a11d53939d24352f0984d6f55a770b97418f1","expires_in":3600}'
  recorded_at: Wed, 19 Jun 2019 16:09:41 GMT
- request:
    method: post
    uri: http://iteratelabs.cassia.pro/api/aps/connections/connect
    body:
      encoding: UTF-8
      string: '{"aps":["CC:1B:E0:E0:F1:E8"],"devices":["F3:25:5F:22:35:39"]}'
    headers:
      Authorization:
      - Bearer c506071c1b244bf321e241d0075a11d53939d24352f0984d6f55a770b97418f1
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status":"ok","device":"F3:25:5F:22:35:39"}'
  recorded_at: Wed, 19 Jun 2019 16:09:43 GMT
recorded_with: VCR 5.0.0
