---
http_interactions:
- request:
    method: post
    uri: http://iteratelabs.cassia.pro/api/oauth2/token
    body:
      encoding: UTF-8
      string: '{"grant_type":"client_credentials"}'
    headers:
      Authorization:
      - Basic <CREDENTIALS>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"token_type":"bearer","access_token":"164326af647b3188969311514235b92b6fde6982366a74f3418cf2e8b6d5914f","expires_in":3600}'
  recorded_at: Wed, 26 Jun 2019 18:35:20 GMT
- request:
    method: get
    uri: http://iteratelabs.cassia.pro/api/cassia/hubs
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 164326af647b3188969311514235b92b6fde6982366a74f3418cf2e8b6d5914f
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '[{"_id":"5cb8e45764390a003eb9304c","id":"CC:1B:E0:E0:ED:AC","mac":"CC:1B:E0:E0:ED:AC","name":"Cassia
        Router","group":"","status":"online","model":"E1000","version":"1.4.0.1901300130","position":"","time":1555620951936,"ip":"76.244.39.175","localip":"192.168.1.75","uptime":680108,"offline_time":0,"online_time":1560893971,"update_status":"update_ok","update_reason":"","update_version":"","update_progress":0,"container":{"status_code":6,"status":"not_exist"},"ap":{"uplink":"wired"}},{"_id":"5d09176f64390a003eba70a1","id":"CC:1B:E0:E0:F1:E8","mac":"CC:1B:E0:E0:F1:E8","name":"New
        York","group":"","status":"online","model":"E1000","version":"1.4.1.1904161322","position":"","time":1560876911998,"ip":"38.142.141.11","localip":"172.16.1.47","uptime":100688,"offline_time":1561473373,"online_time":1561473391,"update_status":"update_ok","update_reason":"","update_version":"","update_progress":0,"container":{"status_code":6,"status":"not_exist"},"ap":{"uplink":"wireless"}}]'
  recorded_at: Wed, 26 Jun 2019 18:35:20 GMT
recorded_with: VCR 5.0.0
