---
http_interactions:
- request:
    method: post
    uri: http://iteratelabs.cassia.pro/api/oauth2/token
    body:
      encoding: UTF-8
      string: '{"grant_type":"client_credentials"}'
    headers:
      Authorization:
      - Basic <CREDENTIALS>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"token_type":"bearer","access_token":"f04e21ab6b7481497c2ddcc1644ac6b3c28af37d63a8f62ae9113fced078fa92","expires_in":3600}'
  recorded_at: Tue, 09 Jul 2019 16:24:49 GMT
- request:
    method: post
    uri: http://iteratelabs.cassia.pro/api/gap/nodes/F6:12:3D:BD:DE:44/connection?mac=CC%3A1B%3AE0%3AE0%3AF1%3AE8
    body:
      encoding: UTF-8
      string: '{"type":"random","timeout":"5000","auto":"0","discovergatt":"1"}'
    headers:
      Authorization:
      - Bearer f04e21ab6b7481497c2ddcc1644ac6b3c28af37d63a8f62ae9113fced078fa92
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - text/plain
    body:
      encoding: UTF-8
      string: OK
  recorded_at: Tue, 09 Jul 2019 16:24:50 GMT
- request:
    method: get
    uri: http://iteratelabs.cassia.pro/api/gatt/nodes/F6:12:3D:BD:DE:40/characteristics?mac=CC%3A1B%3AE0%3AE0%3AF1%3AE8
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer f04e21ab6b7481497c2ddcc1644ac6b3c28af37d63a8f62ae9113fced078fa92
      Content-Type:
      - application/json
  response:
    status:
      code: 500
      message: Internal Server Error
    headers:
      content-type:
      - text/plain
    body:
      encoding: UTF-8
      string: device disconnect
  recorded_at: Tue, 09 Jul 2019 16:24:50 GMT
recorded_with: VCR 5.0.0
