---
http_interactions:
- request:
    method: post
    uri: http://iteratelabs.cassia.pro/api/oauth2/token
    body:
      encoding: UTF-8
      string: '{"grant_type":"client_credentials"}'
    headers:
      Authorization:
      - Basic <CREDENTIALS>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"token_type":"bearer","access_token":"6fedcad505896d089172c29862d3387607b3f4395da88dea134c370c8cd5f5c6","expires_in":3600}'
  recorded_at: Thu, 11 Jul 2019 15:28:22 GMT
- request:
    method: post
    uri: http://iteratelabs.cassia.pro/api/gap/nodes/F6:12:3D:BD:DE:44/connection?mac=CC%3A1B%3AE0%3AE0%3AF1%3AE8
    body:
      encoding: UTF-8
      string: '{"type":"random","timeout":"5000","auto":"0","discovergatt":"1"}'
    headers:
      Authorization:
      - Bearer 6fedcad505896d089172c29862d3387607b3f4395da88dea134c370c8cd5f5c6
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - text/plain
    body:
      encoding: UTF-8
      string: OK
  recorded_at: Thu, 11 Jul 2019 15:28:23 GMT
recorded_with: VCR 5.0.0
