---
http_interactions:
- request:
    method: post
    uri: http://iteratelabs.cassia.pro/api/oauth2/token
    body:
      encoding: UTF-8
      string: '{"grant_type":"client_credentials"}'
    headers:
      Authorization:
      - Basic <CREDENTIALS>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"token_type":"bearer","access_token":"7cb92f65801962a8a295b483aeb8d8cbf8332f15510df8e3f062a73b67f2aedf","expires_in":3600}'
  recorded_at: Wed, 03 Jul 2019 14:30:01 GMT
- request:
    method: post
    uri: http://iteratelabs.cassia.pro/api/aps/connection-state/open
    body:
      encoding: UTF-8
      string: '{"aps":["CC:1B:E0:E0:F1:E8"]}'
    headers:
      Authorization:
      - Bearer 7cb92f65801962a8a295b483aeb8d8cbf8332f15510df8e3f062a73b67f2aedf
      Content-Type:
      - application/json
  response:
    status:
      code: 202
      message: Accepted
    headers:
    body:
      encoding: UTF-8
      string: '{"status":"accepted"}'
  recorded_at: Wed, 03 Jul 2019 14:30:01 GMT
recorded_with: VCR 5.0.0
