---
http_interactions:
- request:
    method: post
    uri: http://iteratelabs.cassia.pro/api/oauth2/token
    body:
      encoding: UTF-8
      string: '{"grant_type":"client_credentials"}'
    headers:
      Authorization:
      - Basic <CREDENTIALS>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"token_type":"bearer","access_token":"101d859aac5cdff751236a5a63d9bc4fc84721704a0a8ce5fe652ebb3272986c","expires_in":3600}'
  recorded_at: Wed, 10 Jul 2019 18:45:29 GMT
- request:
    method: post
    uri: http://iteratelabs.cassia.pro/api/gap/nodes/F6:12:3D:BD:DE:44/connection?mac=CC%3A1B%3AE0%3AE0%3AF1%3AE8
    body:
      encoding: UTF-8
      string: '{"type":"random","timeout":"5000","auto":"0","discovergatt":"1"}'
    headers:
      Authorization:
      - Bearer 101d859aac5cdff751236a5a63d9bc4fc84721704a0a8ce5fe652ebb3272986c
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - text/plain
    body:
      encoding: UTF-8
      string: OK
  recorded_at: Wed, 10 Jul 2019 18:45:29 GMT
- request:
    method: get
    uri: http://iteratelabs.cassia.pro/api/gatt/nodes/F6:12:3D:BD:DE:44/services?mac=CC%3A1B%3AE0%3AE0%3AF1%3AE8
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 101d859aac5cdff751236a5a63d9bc4fc84721704a0a8ce5fe652ebb3272986c
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"uuid":"00001800-0000-1000-8000-00805f9b34fb","primary":true,"handle":1},{"uuid":"00001801-0000-1000-8000-00805f9b34fb","primary":true,"handle":10},{"uuid":"6e400001-b5a3-f393-e0a9-e50e24dcca9e","primary":true,"handle":11}]'
  recorded_at: Wed, 10 Jul 2019 18:45:29 GMT
- request:
    method: get
    uri: http://iteratelabs.cassia.pro/api/gatt/nodes/F6:12:3D:BD:DE:44/services/00001800-0000-1000-8000-00805f9b34fb/characteristics?mac=CC%3A1B%3AE0%3AE0%3AF1%3AE8
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 101d859aac5cdff751236a5a63d9bc4fc84721704a0a8ce5fe652ebb3272986c
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"handle":3,"properties":10,"uuid":"00002a00-0000-1000-8000-00805f9b34fb"},{"handle":5,"properties":2,"uuid":"00002a01-0000-1000-8000-00805f9b34fb"},{"handle":7,"properties":2,"uuid":"00002a04-0000-1000-8000-00805f9b34fb"},{"handle":9,"properties":2,"uuid":"00002aa6-0000-1000-8000-00805f9b34fb"}]'
  recorded_at: Wed, 10 Jul 2019 18:45:30 GMT
recorded_with: VCR 5.0.0
